# Variaveis de ambiente
.env

# Pastas de compilação
build/
dist/

# Executáveis locais e arquivos do PyInstaller
*.exe
*.spec

# Cache e compilados do Python
__pycache__/
*.pyc

# IDEs
.vscode/
.idea/